@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color:#e9e9e9;
}

.wrap{
    font-family: 'Roboto', sans-serif;
    display: flex;
    max-width: 960px;
    background-color: #ededed;
    margin:0 auto;
}

/*left content*/
.profile{
    max-width: 35%;
    background-color: #39383a;
    color: #e3dcd0;
    font-size: 13px;
}
.profile-photo{
    height: 230px;
    background-image: url(https://sun9-3.userapi.com/impg/d1PyJ6Hr8RiQru6GjNdcvYFXPALI8bSVYUqu3g/BC8qlj1N8KA.jpg?size=1200x1500&quality=95&sign=cb4746a28016573579289eb33f075e13&type=album);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*information contacts*/
.profile-info{
    padding:50px 30px 70px;
}
.heading{
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 16px;
}
.heading-light{
    color: white;
    border-bottom: 2px rgb(237, 237, 237, 0.3) dashed;
}
.profile-text{
    line-height: 24.19px;
    margin-bottom: 30px;
}
.contacts{
    margin-bottom: 50px;
}
.contacts-title{
    color: #fff;
    margin: 0;
    font-size: 16px;
}
.contacts-text{
    color: #e3dcd0;
    text-decoration: none;
    padding-left: 27px;
    line-height: 24.19px;
}
.contacts-item{
    padding: 14px 0;
    border-bottom: 2px rgb(237, 237, 237, 0.3) dashed;
}
address{
    font-style: normal;
}
.fas{
    margin-right: 9px;
}

/*information skills*/
.skills{
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
}
.skill{
    width: 100px;
    height: 100px;
    border:6px solid #5c5c5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0 30px 30px 0;
    line-height: 1.5;
}
.skill:nth-child(3){
    margin-bottom: 0;
}
.skill-text{
    text-transform: uppercase;
    font-size: 11px;
}
.skill-persent{
    font-size: 15px;
    font-weight: 600;
}
.lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line{
    width: 90px;
    height: 2px;
    background-color:#5c5c5c;
    margin:10px 0;
}
.line:nth-child(2){
    width: 100px;
    margin-left: 20px;
}


/*right content*/
.resume{
    padding: 25px 30px;
    background-color:#fff;
    margin-left: 30px;
    width: 100%;
}
.resume-wrap{
    border: 1px solid #e9e9e9; 
    width: 100%;
    min-height: 100%;
    padding:36px 50px;
}

/*logo right content*/
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    perspective: 1000px;
    transform-style: preserve-3d;
    color: white;
}
.logo-img{
    width: 110px;
    height: 110px;
    border: 1px solid #000;
    background-color: #39383a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    transition: transform 0.2s;
    transform: rotate(20deg);
}
.logo-lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 17px;
}
.logo-line{
    width: 43px;
    height: 2px;
    background-color:#39383a;
    margin: 10px 0;
}
.logo-lines_left .logo-line:nth-child(2){
    margin-right: 20px;
    width: 55px;
}
.logo-lines_right .logo-line:nth-child(2){
    margin-left: 20px;
    width: 55px;
}

.about{
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}
.position{
    display: block;
    font-size: 16px;
    color:#bbb9b6;
    text-transform: uppercase;
    margin: 15px 0;
}

.about-adress{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
}
.about-contacts{
    font-size: 13px;
}
.about-contacts-link{
    text-decoration: none;
    color:#777777;
}
.heading_dark{
    border-bottom: 1px solid #ededed;
    font-weight: bold;
    margin-bottom: 37px;
}


.list{
    list-style: none;
    padding: 0;
}
.list-item{
    position: relative;
    padding: 0 0 20px 30px;
    margin-bottom: 20px;
}
.list-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 9px;
    height: 9px;
    border-radius:50%;
    background-color:#000;
}
.list-item_title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.list-item_date{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 10px;
}


.quality{
    display: block;
}